# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.vssscc
*_i.c
*_p.c
*.ncb
*.aps
*.opensdf
*.sdf
*.bak
*.bak2
*.bak3
*.bak4
*.bak5
*.bak6
*.bak7
*.bak8
*.bak9
*.bak10
*.ilk
*.log
*.lib
*.pdb
*.exe
# .dll
*.manifest
*.idb
*.pch
*.vspscc
*.vsmdf
*.vscontent
*.vsct
*.vssettings
*.vsp
*_d.sql
*.vspscc
*.vssscc
*.vsmdi
*_NTree.*
*_TLog.*
*.tlog
*.vspx
*.cache
*.vs
*.nugetpackages
bin/
obj/
Lib/
TestBin/
Bin/
Debug/
.vs/*